<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
<ion-content>
  <center>
<p>Nombre: Dulce Maria Perez Bravo</p>
<p>Grupo: 5° B</p>
<P>Fecha de creacion de la app: 21/01/2022</P>
</center>
</ion-content>

